html, body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-image: url("images/playTable.png");
  background-size: cover;
  background-repeat: no-repeat;
  width:100%;
  height:100%;
}

ul {
    margin-top: 0.5%;
}
li {
    text-align: left;
    margin-bottom:1%;
    font-size:1.5vw;
}

#rules {
    display: none;
    z-index: 200;
    background-color: rgba(255,255,255,0.5);
    width: 90%;
    margin: 0 auto;
    padding: 0.1vw 1vw 6vw 1vw;
    height: 70%;
    position: relative;
    top:50%;
    transform: translateY(-50%)
}

#new-game {  
  background-color: rgba(255,255,255,0.5);
  width: 50%;
  margin: 0 auto;
  padding: 2.5vw 1vw 4vw 1vw;
  height: auto;
  position: relative;
  top: 30%;
}

#overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#hand {
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    bottom: 5%;
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}

#field {
    position: absolute;
    top: 5%;
    height: 60%;
    width: 100%;
}

.cardHold {
    margin: 0.5vw 0vw;
    height:auto;
    width:auto;    
}

#slice1 {
    width: 100%;
    height: 33.33%;
    display: flex;
}

#playedCard1 {
    height: 100%;
    width:6%;
    opacity: 0;
    margin-left:47%
}

#scoreboard{
    position: absolute;
    max-width: 15%;
    top: 4%;
    right: 4%;
    display: none;
}

table, th, td {
    background-color: white;
    border: 0.1vw solid black;
}

.scores {
    height:2vw
}

#slice2 {
    width: 100%;
    height: 33.33%;
    top:33.33%;
    display: flex;
}
#playedCard2 {
    height: 100%;
    width: 6%;
    margin-left: 39%;
    opacity: 0
}

#nextRnd{
    z-index: 1000;
    display: none;
    height:15%;
    width: 5%;
    position: absolute;
    top: 27.5%;
    left:47.8%;
    font-size:1.5vw;
}

#playedCard3 {
    height: 100%;
    width: 6%;
    margin-left: 10%;
    opacity: 0
}

#slice3 {
    width: 100%;
    height: 33.33%;
    top:66.67%;
}

#playedCard4 {
    height: 100%;
    width:6%;
    margin: 0 auto;
    opacity: 0
}

.card{
    height:100%;
}

.cardHold:hover{
    box-shadow: 0.1vw 0.1vw 1vw 1vw white;
}

#input-field {
    padding-left: 0.8vw;
    height: 3vw;
    width: 16vw;
    font-size: 1.2vw;
}

#begin-btn{
    margin-left: 1vw;
    height: 3.5vw;
    width: 3.5vw;
    border-radius: 1.75vw;
    font-size: 1.5vw;
}

#gameboard{
    display: none;
}

#game-over{
    display: none;
    background-color: rgba(255,255,255,0.4);
    width: 60%;
    padding: 3vw 3vw 10vw 3vw;
    height: 40%;
    position: absolute;
    top: 15%;
    left:20%;
    z-index: 100;
}

#open-rules {
    background-color: rgba(255,255,255,0);
    font-size:3vw;
    position: absolute;
    top: 4%;
    right: 3%;
    width: 4vw;
    height: 4vw;
    border: none;
}

#close-rules {
    background-color: rgba(255,255,255,0);
    font-size:2vw;
    position: absolute;
    top: 4%;
    right: 3%;
    width: 4vw;
    height: 4vw;
    border: none;
}

h2 {
    margin:0 auto 0 auto;
    font-size: 5vw;
    border: solid;
    width: 80%;
}

#status {
    margin-top: 2vw;
    font-size: 10vw;
}

h1 {
    margin-top: 5%;
    margin-bottom: 2%;
    font-size: 4.5vw
}

button {
    cursor: pointer;
}

p {
    margin-top: 5%;
    font-size: 1.5vw;
}
